@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nb-contanier {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;
}
.nb-content {
  display: flex;
  gap: 30px;
  font-size: 18px;
}
a {
  text-decoration: none;
  color: black;
  transition: all 0.3s;
}
/* Add an animated underline on hover */
a {
  position: relative;
  text-decoration: none;
  color: #333;
  transition: all 0.2s;
  cursor: pointer;
}

a:not(.card-link):hover {
  color: #056b6b;
  font-weight: bold;
}

a:not(.card-link)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px; /* Adjust the thickness of the underline */
  bottom: 0;
  left: 0;
  background-color: #056b6b; /* Color of the underline */
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

a:not(.card-link):hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.home-hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #dbe9f1;
  height: 450px;
  padding: 40px;
}
.home-hero .logo-img {
  height: 100%;
}
.slogan {
  margin-right: 6%;
  z-index: 10;
  font-size: 30px;
  color: #056b6b;
}
.slogan span {
  font-size: 40px;
  font-weight: 500;
}
.book-pic {
  position: absolute;
  height: 320px;
  bottom: -14%;
  right: 0;
  z-index: 5;
}

.home-filter-nv {
  display: flex;
  flex-direction: column;
  margin: 30px 40px;
  align-items: self-start;
  justify-content: space-between;
  gap: 40px;
}

.filter-chips {
  display: flex;
  gap: 20px;
  align-items: center;
}
.dropdown-btn {
  background-color: #dbe9f1;
  border: none;
  color: black;
  border-radius: 30px;
  padding: 5px 20px;
}

.dropdown-btn:hover {
  background-color: #a1cee9;
  border: none;
  color: black;
}

.dropdown-item:hover {
  background-color: #dbe9f1;
}

.book-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjust as needed */
  gap: 20px; /* Adjust the gap between book cards */
}

.book-collection .bookcard {
  flex: 0 0 calc(33.3333% - 20px); /* Three cards per row with gap included */
  /* Add other styles for .bookcard as in your original CSS */
}
.bookcard {
  width: 30%;
}
.card {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 40px 40px;
  padding-bottom: 10px;
  background-color: #dbe9f1;
  border: none;
  transition: all 0.3s;
}
.card img {
  width: 250px;
  height: 400px;
  margin-bottom: 30px;
  border-radius: 5px;
}
.card:hover {
  border-radius: 40px;
}

/* register.css */

.registration-container {
  background-color: whitesmoke;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-form {
  background-color: white;
  padding: 50px 100px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #056b6b;
}

.registration-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.registration-input {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.registration-input:focus-visible {
  border-color: #1977cc;
}

.registration-form select {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.registration-form select:hover {
  border-color: #056b6b;
}

.registration-button {
  margin-top: 20px;
  padding: 10px 40px;
  background-color: #056b6b;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-bottom: 20px;
}

.registration-button a {
  text-align: none;
}

.registration-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.registration-button:hover {
  background-color: #107373;
}
.sign-up {
  color: #1977cc;
}
.active-link {
  font-weight: bold;
  color: #107373;
}

.nb-icon {
  color: #000;
  display: none;
}
.mobile-view {
  display: none;
  flex-direction: column;
  position: relative;
}
.mobile-nb {
  width: 220px;
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  top: 65px;
  right: 10px;
  background-color: white;
  padding: 20px 40px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.load-more-link {
  cursor: pointer;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  background-color: #107373;
  color: white;
  padding: 30px 20px;
}

.footer-icon {
  font-size: 40px;
  margin: 0 8px;
  cursor: pointer;
}

.qr-img {
  height: 150px;
  margin-bottom: 8px;
}

.footer-text-l {
  font-size: 22px;
  font-weight: 600;
}

.qr-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-mid-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-text-m {
  display: none;
}

.testimony-card {
  height: auto;
  width: 500px;
  background-color: #dbe9f1;
  margin: 0 20px;
  border-radius: 20px;
}
.testimony-container {
  width: 580px;
}
.card .testimony-img {
  height: 120px;
  width: auto;
}
.services-container {
  margin: 40px 0;
}
.services-main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.services-heading {
  width: 100%;
}
.services-heading h1 {
  text-align: center;
  color: #107373;
  font-weight: 600;
  font-size: 50px;
  letter-spacing: 2px;
}
.services-heading p {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 0 300px;
  font-weight: 400;
  color: gray;
  font-style: italic;
}
.services-stats-card-value {
  font-size: 40px;
  font-weight: 600;
  color: #107373;
}
.services-stats-card-container {
  border: 1px solid #107373;
  border-radius: 10px;
  width: fit-content;
  padding: 20px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.awards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    height: auto;
    padding: 20px;
    gap: 30px;
  }

  .social-links {
    margin-bottom: 20px;
  }

  .footer-icon {
    font-size: 30px;
    margin: 0 10px;
  }
  .qr-div {
    display: none;
  }
  .footer-text-l {
    display: none;
  }
  .footer-text-m {
    display: block;
  }
}

@media (max-width: 1000px) {
  .nb-content {
    display: none;
  }
  .mobile-view {
    display: flex;
  }
  .nb-icon {
    display: block;
    font-size: 30px;
    cursor: pointer;
  }
}
@media (max-width: 900px) {
  .book-collection .bookcard {
    flex: 0 0 calc(50% - 20px); /* Two cards per row with gap included */
    /* Add other styles for .bookcard as in your original CSS */
  }
}
@media (max-width: 640px) {
  .book-collection .bookcard {
    flex: 0 0 calc(100% - 0px); /* Two cards per row with gap included */
    /* Add other styles for .bookcard as in your original CSS */
  }
  .home-filter-nv {
    margin: 30px 10px;
  }
  .home-hero {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }
  .slogan {
    font-size: 25px;
  }
  .book-pic {
    height: 150px;
    bottom: -6%;
  }
}
.test-heading {
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  color: #107373;
  font-weight: 600;
}
@media (max-width: 500px) {
  .filter-chips {
    flex-wrap: wrap;
  }
  .dropdown-btn {
    padding: 5px 40px;
  }
  .slogan span {
    font-size: 39px;
  }
  .nb-contanier {
    justify-content: space-around;
  }
  .registration-form {
    padding: 25px 15px;
  }
  .testimony-card {
    width: 80vw;
  }
  .testimony-container {
    width: 100vw;
  }
  .services-heading p {
    padding: 0 20px;
    font-size: 13px;
  }
  .services-stats-card-container {
    padding: 5px 0px;
  }
  .services-stats-card-value {
    font-size: 30px;
    margin-top: 1rem;
  }
}

.book-details-card {
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #107373;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
.book-details-card img {
  border-radius: 10px;
}
.book-details-detail {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}
.book-details-name,
.book-details-buynow {
  text-align: center;
  width: 20%;
  border-radius: 20px;
  background-color: white;
  padding: 5px 20px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
.book-details-buynow,
.book-details-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.book-details-name span {
  font-size: 15px;
  color: gray;
}
.book-details-icon {
  font-size: 30px;
}
.book-details-disc {
  width: 50%;
  text-align: center;
  font-size: 28px;
  color: white;
}

.book-details-review {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 10px;
  margin-bottom: 30px;
}
.review {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 40px;
  background-color: rgb(237, 234, 234);
  border-radius: 20px;
}
.review-name {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  font-weight: 500;
}
.review-name p {
  margin-bottom: 0;
}
.review-details {
  display: flex;
  flex-direction: column;
}
.review-dates {
  display: flex;
  gap: 20px;
}
.review-dates p {
  background-color: rgb(216, 215, 215);
  padding: 10px 20px;
  border-radius: 10px;
  color: #056b6b;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}
.review-ratings {
  display: flex;
  justify-content: space-between;
}
.review-ratings div {
  width: 30%;
}
.reviewer-ratings {
  align-self: flex-end;
}
.reviewer-ratings div {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.reviewer-details p,
.reviewer-comment p {
  color: rgb(117, 116, 116);
  font-size: 20px;
  font-weight: 400;
}
.reviewer-details span {
  color: black;
  font-weight: 500;
  font-size: 25px;
}
.reviewer-comment p:last-child {
  font-size: 20px;
  font-weight: 400;
  color: black;
}
.ratings p {
  margin-bottom: 0;
}
.ratings p {
  font-size: 20px;
  font-weight: 500;
  color: rgb(117, 116, 116);
}
.ratings p:last-child {
  color: #107373;
}
.rotate-icon {
  transform: rotate(45deg);
  transition: all 0.5s;
}
.book-review-plus-icon,
.book-review-plus-icon2,
.book-review-plus-icon3 {
  transition: all 0.5s;
  font-size: 40px;
}
.book-details-heading {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 40px;
  color: #107373;
  font-weight: 500;
  margin-left: 40px;
}
.book-details-heading span {
  font-size: 30px;
  color: rgb(158, 158, 158);
}
.review-name span {
  font-size: 20px;
  color: rgb(91, 91, 91);
}
@media (max-width: 800px) {
  .book-details-card img {
    height: 400px;
  }
  .book-details-name,
  .book-details-buynow {
    width: 30%;
    font-size: 15px;
  }
  .book-details-disc {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  .book-details-card {
    height: auto;
    padding: 40px 0;
    justify-content: flex-start;
    gap: 50px;
  }
  .book-details-card img {
    height: 300px;
  }
  .book-details-detail {
    padding: 0 5px;
  }
  .book-details-disc {
    font-size: 15px;
  }
  .book-details-icon {
    display: none;
  }
  .book-details-name,
  .book-details-buynow {
    padding: 5px 10px;
  }
  .book-details-name span {
    display: none;
  }
  .book-details-heading {
    font-size: 25px;
    margin-left: 15px;
  }
  .book-details-heading span {
    font-size: 15px;
  }
  .review-name {
    font-size: 20px;
  }
  .book-review-plus-icon,
  .book-review-plus-icon2,
  .book-review-plus-icon3 {
    font-size: 30px;
  }
  .review {
    padding: 20px 10px;
  }
  .review-dates p {
    padding: 10px 10px;
  }
  .review-ratings {
    flex-direction: column;
  }
  .review-ratings div {
    width: 100%;
  }
  .reviewer-details p,
  .reviewer-comment p,
  .reviewer-comment p:last-child,
  .ratings p {
    font-size: 17px;
  }
  .reviewer-details span {
    font-size: 20px;
  }
}
@media (max-width: 450px) {
  .review-name span {
    display: none;
  }
}

.contactus-container {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.contactus-container p {
  margin-bottom: 0;
}
.contactus-heading {
  font-size: 50px;
  letter-spacing: 2px;
  color: #107373;
  font-weight: 600;
}
.contactus-fancy-line {
  width: 50%;
  color: rgb(91, 91, 91);
  text-align: center;
}
.contactus-card {
  padding: 0 100px;
  width: 100%;
  display: flex;
  margin-top: 40px;
  gap: 20px;
}
.contactus-card div {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 20px;
}
.contactus-card div:first-child {
  justify-content: flex-end;
}
.contactus-card div.contactuscard-main {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  border: 1px solid #107373;
  border-radius: 10px;
}
.contactus-card div.contactuscard-main .contactuscard-icon {
  background-color: #107373;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: none;
  color: white;
  font-size: 40px;
}
.contactuscard-head {
  font-size: 25px;
  font-weight: 500;
}
.contactuscard-text {
  font-size: 18px;
  color: rgb(91, 91, 91);
}
.contactus-form {
  margin-top: 40px;
  display: flex;
  width: 100%;
  align-items: stretch;
  justify-content: center;
  padding: 0 145px;
}
.contactus-form div {
  background-color: #dbe9f1;
  width: 50%;
}
.contactus-form-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactus-form-fields {
  padding: 20px;
}
.contactus-form-fields .registration-input {
  margin: 20px 0;
}
@media (max-width: 1000px) {
  .contactus-card {
    padding: 0 10px;
  }
}
@media (max-width: 900px) {
  .contactus-card {
    flex-direction: column;
  }
  .contactus-card div:first-child {
    width: 100%;
    justify-content: center;
  }
  .contactus-card div:last-child {
    width: 100%;
    justify-content: center;
  }
  .contactus-form {
    padding: 0 30px;
  }
}
@media (max-width: 800px) {
  .contactus-card {
    padding: 0 20px;
  }
}
@media (max-width: 500px) {
  .services-heading h1 {
    font-size: 42px;
    letter-spacing: 0;
  }
  .awards-container {
    padding: 0 30px;
  }
  .awards-container .services-stats-card-container {
    width: 100%;
  }
  .contactus-card {
    padding: 0 10px;
  }
  .contactuscard-head {
    font-size: 17px;
  }
  .contactuscard-text {
    font-size: 13px;
    text-align: center;
  }
  .contactus-card div.contactuscard-main {
    padding: 20px 0;
    align-items: center;
    gap: 10px;
  }
  .contactus-card div.contactuscard-main .contactuscard-icon {
    height: 75px;
    width: 75px;
  }
  .contactus-fancy-line {
    width: 90%;
  }
  .contactus-heading {
    letter-spacing: 0;
  }
  .contactus-form-img {
    display: none;
  }
  .contactus-form div {
    width: 100%;
  }
  .contactus-form {
    padding: 0 10px;
  }
}
@media (max-width: 350px) {
  .media-query-div div:first-child {
    padding: 10px 0;
  }
}

/*Sidebar style*/
#sidebar {
  box-shadow: 1px 1px 8px 0.2px #aaaaaa;
  position: sticky;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 10%;
  background-color: #ffffff;
  color: #666666;
}

#sidebar div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  cursor: pointer;
  position: relative;
}

#sidebar span svg {
  font-size: 20px;
  margin-right: 8px;
  vertical-align: middle;
}

#sidebar hr {
  border-bottom: 1px solid #e5e5e5;
}

/*DashbordOverview  card style  */
.Overviewcard {
  width: 275px;
  height: 150px;
  border: 1px solid #107373;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Overviewcard-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Overviewcard-icon {
  font-size: 25px;
  margin-bottom: 16px;
  color: #107373;
}

.Overviewcard-title {
  font-size: 18px;
  margin: 0;
}

.Overviewcard-text {
  font-size: 22px;
  font-weight: 600;
  color: #48bb78;
}
.sidebar-parent {
  position: relative;
}

.sidebar-in-out {
  display: none;
}
.publisher-cards-container {
  display: flex;
}

@media (max-width: 500px) {
  #sidebar {
    position: absolute;
    top: 120px;
    left: 0%;
    width: 40%;
    transition: 0.5s all ease;
    min-height: 70vh;
  }
  .sidebar-in-out {
    display: inline;
    font-size: 30px;
    position: absolute;
    top: 5px;
    right: -30px;
  }
  .Overviewcard {
    width: 120px;
    height: 120px;
    padding: 10px;
  }
  .Overviewcard-title {
    font-size: 12px;
  }
  .Overviewcard-text {
    font-size: 18px;
  }
  .Overviewcard-icon {
    font-size: 20px;
  }
  .publisher-cards-container {
    width: 100vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .dashboard-table-container {
    width: 100vw;
    overflow-x: scroll;
  }
}

.aboutus-container {
  margin: 40px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.aboutus-heading {
  font-size: 50px;
  color: #107373;
  font-weight: 600;
}
.aboutus-section {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 20px;
}
.aboutus-que {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 30px;
  font-weight: 500;
}
.aboutus-icon {
  font-size: 12px;
}
.aboutus-section img {
  width: 100%;
  height: auto;
}
.aboutus-flow {
  text-align: center;
  color: #107373;
  font-size: 30px;
  font-weight: 600;
}

.aboutus-ans span {
  font-weight: 600;
}
@media (max-width: 800px) {
  .aboutus-container {
    margin: 40px 0;
  }
}
@media (max-width: 400px) {
  .aboutus-section {
    width: 90%;
  }
  .aboutus-que {
    font-size: 18px;
  }
  .aboutus-ans {
    font-size: 13px;
  }
  .aboutus-flow {
    font-size: 22px;
  }
  .aboutus-icon {
    font-size: 8px;
  }
}

.search-container {
  margin-top: 50px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-heading {
  font-size: 50px;
  font-weight: 600;
  color: #107373;
}
.search-section {
  width: 70%;
  background-color: #dbe9f1;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}
.search-icon {
  font-size: 30px;
  color: #107373;
}
@media (max-width: 400px) {
  .search-section {
    width: 90%;
  }
  .search-heading {
    font-size: 40px;
  }
}
.pdf-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pdf-heading {
  font-size: 50px;
  font-weight: 600;
  color: #107373;
}
